################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.xcworkspace
*.sln

/_site/
.DS_Store
