
            <!-- CONTACT SECTION START -->
            <div class="container" id="contact">
        
                <!-- HEADER-->
                <h3>Contact</h3>
        
                <!-- ONLINE CONTACTS -->
                <div class="container" id="online">

                    <h4>Online</h4>
                
                    <!-- EMAIL - WORK-->
                    <a target="_blank" href="mailto:m.volino@surrey.ac.uk"> <i class="glyphicon glyphicon-envelope"> </i> m.volino@surrey.ac.uk</a>
                    <br>
                                
                    <!-- LINKED IN -->
                    <a target="_blank" href="https://www.linkedin.com/in/marcovolino/"> <i class="glyphicon glyphicon-globe"></i> linkedin.com/in/marcovolino/</a>
                    <br>
                    
                    <!-- FACEBOOK -->
                    <a target="_blank" href="https://www.facebook.com/marcovolino/"> <i class="glyphicon  glyphicon-globe"></i> facebook.com/marcovolino/</a>
                    <br>
                    
                    
                </div>
      
                <!-- MAP SECTION: EMBEDED GOOGLE MAP -->
                <div class="container" id="map">

                    <h4>Map</h4>
                    <div class="gmap_canvas">
                        <iframe width="800" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Centre for vision speech and signal processing&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                </div>
            </div>
