        <!--NAVIGATION BAR START-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            
                <div class="navbar-header">

                    <!-- Responsive button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Site Brand-->
                    <a class="navbar-brand" href="{{site.url}}/">Marco Volino</a>
                </div>
                
                <!-- Nav Links -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{site.url}}/research">Research</a></li>
                        <li><a href="{{site.url}}/cv">CV</a></li>
						<li><a href="{{site.url}}/#news">News</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    
                    <!-- SOCIAL MEDIA -->
                    <ul id ="social-media" class="nav navbar-nav navbar-right">
                        <li><a href="https://500px.com/marcovolino"                                 target="_blank" class="fab fa-500px"></a></li>
                        <li><a href="https://www.facebook.com/marcovolino"                          target="_blank" class="fab fa-facebook"></a></li>
                        <li><a href="https://scholar.google.com/citations?user=Le5SVZYAAAAJ&hl=en"  target="_blank" class="fab fas fa-graduation-cap"></i>
                        <li><a href="https://www.linkedin.com/in/marcovolino/"                      target="_blank" class="fab fa-linkedin"></a></li>
                        <li><a href="https://twitter.com/marcovolino"                               target="_blank" class="fab fa-twitter"></a></li>
                        <li><a href="https://orcid.org/0000-0002-1869-9257"                         target="_blank" class="fab fa-orcid"></a></li>
                    </ul>
                    
                </div>
           </div>
        </nav>
 
