        <!--NAVIGATION BAR START-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            
                <div class="navbar-header">

                    <!-- Responsive button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Site Brand-->
                    <a class="navbar-brand" href="{{site.url}}/">Marco Volino</a>
                </div>
                
                <!-- Nav Links -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        {% for item in site.data.nav.menu %}
                        <li><a href="{{site.url}}/{{item.url}}">{{item.title}}</a></li>
                        {% endfor %}
                    </ul> 
                </div>
           </div>
        </nav>
 

